.sortable{ 
list-style-type: none;
 margin: 0;
 padding: 0; 
 margin-bottom: 10px;
 min-height:100px;
 padding:5px 0;
 }
 .customizer_layout {
  background-color:#ccc;
 }
 .sortable li {
 margin: 5px;
 padding: 5px;
 width: 215px; 
 background-color:#fff;
 border:1px solid #000;
 text-align:center;
 }
 
 #customize-control-corpbiz_options-front_page_data label {
 display:none !important;
 }
 
  #customize-control-corpbiz_options-front_page_data label , #customize-control-corpbiz_options-layout_textbox_disable label
 {
 display:none !important;
 }
 #customize-control-corpbiz_options-theme_color  input { display:none;}
 
 #customize-control-corpbiz_options-theme_color label img {border:3px solid #fff;}
 .selected_img {border:2px solid #ceed1e !important;}