/*
* Author: Corpbiz
* Created by: Shahid (Scientech IT)
* Copyright (c) 2014 Corpbiz
* Date: 28 May, 2014
* http://www.webriti.com
* Name: green.css

*/

/*Background colors */

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .btn_login, 
.btn_green, .footer_callout_area, .flex-btn, .flex-btn:hover, .support_icon_red, .support_btn_red, .more-link, a.blog-btn, .qua_dropcape_square span, .blog_author_social li:hover, .page_up, .sidebar_widget_tab > .active a, .qua_dropcape_square span, 
.paginations a:hover, 
.paginations a.active,
input[type="submit"], 
.widget table caption, 
.widget table tbody a,  
.tagcloud a:hover, .tagcloud a:focus, 
.footer-sidebar .widget .tagcloud a:hover, 
.footer-sidebar .widget .tagcloud a:focus, 
.header-sidebar .widget .tagcloud a:hover, 
.header-sidebar .widget .tagcloud a:focus, 
.btn_common, .pagination span.current { 
	background-color: #82c14f; 
}

/* Font Colors */

.header_contact_social li > a > i:hover, .header_top_widget li a:hover, .header_top_widget li a:focus, .homepage_top_callout h2 > span, .service_icon_green, a.readmore, .sidebar_comment_box span, .portfolio_caption a:hover, .portfolio_caption span, address a, .blog_author h6 > span, .reply a, .portfolio_tabs li.active > a, .portfolio_tabs li > a:hover { 
	color: #82c14f; 
}

/* Border colors */

.blog_author img { border: 4px solid #82c14f; }

/* Box Shadow*/

.btn_green, .flex-btn, .flex-btn:hover, .btn_red, .more-link, input[type="submit"], .btn_common { box-shadow: 0 3px 0px 0 #6fa841; }

/* Pink Color sceheme */
.btn_red { background-color: #36404a; box-shadow: 0 3px 0 0 #272f37; }
a, a:hover, a:focus, ins, 
.widget ul li a:hover, 
.widget ul li a:focus, 
.widget table #next a:hover, 
.widget table #next a:focus, 
.widget table #prev a:hover, 
.widget table #prev a:focus, 
.footer_menu_links li > a:hover { 
	color: #82c14f; 
}
.tagcloud a:hover, .tagcloud a:focus, 
.footer-sidebar .widget .tagcloud a:hover, 
.footer-sidebar .widget .tagcloud a:focus, 
.header-sidebar .widget .tagcloud a:hover, 
.header-sidebar .widget .tagcloud a:focus { 
    border: 1px solid #82c14f;
}

blockquote { border-left: 5px solid #82c14f; }

.callout_btn { 
	background-color: #ffffff; 
	box-shadow: 0 3px 0 0 #f8f8f8; 
	color: #36404a; 
}
.callout_btn:hover, 
.callout_btn:focus { 
	color: #36404a; 
}
