/*
* Author: Corpbiz Theme
* Created by: Shahid (Scientech IT)
* Copyright (c) 2014 Corpbiz
* Date: 28 May, 2014
* http://www.webriti.com

*/

/*Menu Section--------------------------------------------------------------------------*/
 
.navbar_section {
	background: transparent;
}
.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}
.navbar-inverse {
    border-color: none;
    border-style: none;
    border-width: 0px;
    padding: 5px 0;
	border-color: none;
}
.navbar-brand {
    font-size: 36px;line-height: 35px; 
    height: auto;
    
	padding: 10px 15px 10px 0; 
	margin-right: 50px;
}
.navbar-inverse {
    background-color: transparent;
    border-bottom: 0;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	padding: 0; 
}
.navbar {
	background: rgba(0, 0, 0, 0.3); padding: 10px 0;
    border-radius: 0px;
}
/* .navbar-wrapper { */
	/* margin-top: 0px;  */
	/* position: absolute; */
	/* top: 0; */
	/* right: 0; */
	/* left: 0; */
	/* z-index: 10; */
/* } */
.navbar-wrapper {
	margin-top: 0px; 
	position: absolute;
	right: 0;
	left: 0;
	z-index: 10;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
	color: #FFFFFF;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
	color: #FFFFFF;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	color: #FFFFFF;
}
.navbar .navbar-nav > li {
    margin-right: 5px;
    padding: 0 0 0px 0px;
}
.navbar .navbar-nav > li > a {
    line-height: 20px;
    padding: 11px 16px;
	border-radius: 2px 2px 2px 2px;
	color: #ffffff;
	font-family: 'Roboto'; 
	font-weight: 500;
	font-size: 15px;
}
.nav {
   margin-top: 0px; padding: 14px 0;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-collapse {
    max-height: 100%;
}
/*Dropdown Menus & Submenus Css*/
.dropdown-menu {
    padding: 0;
	min-width: 250px;
}
.dropdown-menu li { margin: 0; padding: 0; }
.dropdown-menu > li > a {
    color: #666666;
    font-family: 'Roboto'; 
	font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 20px;
	border-bottom: 1px solid #eeeeee; transition: all 0.3s ease-in-out 0s; white-space: normal; 
}
.dropdown-menu > li > a:last-chlid {
	border-bottom: 0px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
}
.dropdown-submenu{
    position:relative;
}
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100% !important;
    margin-top:-2px;
    margin-left:-1px;
    -webkit-border-radius:0px 0px 0px 0px;
    -moz-border-radius:0px 0px 0px 0px;
    border-radius:0px 0px 0px 0px;
}
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}
.dropdown-submenu i {
	font-size: 14px;
	line-height: 1.5;
	position: absolute; 
	right: 10px; 
}
.dropdown-submenu .pull-left{
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 15px 15px 15px 25px;
}
.navbar-right .dropdown-menu {
    left: 0;
    right: 0;
	border-radius: 0px; 
}
.navbar-nav > li > a > i {
    font-size: 18px;
    line-height: 20px;
    margin-left: 5px;
    padding-top: 0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px; 
	color: #ffffff;
}
.navbar-form {
    margin: 0px;
}
.btn_login {
	font-family: 'Roboto'; Font-weight: 600; 
	font-size: 14px;
	line-height: 20px;
	border: 0px none;
    color: #ffffff;
	border-radius: 0px;
	padding: 11px 16px;
	margin-right: -4px;
}
.btn_login:hover, .btn_register:hover {
    color: #ffffff;
}
.btn_register {
    background-color: #072720;
	font-family: 'Roboto'; 
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
    border: 0px none;
    color: #ffffff;
	border-radius: 0px;
	padding: 11px 16px;
}